In [1]:
#% pip install matplotib
print('ok')

ok

In [2]:
from pandas import read_csv
import matplotlib_inline

In [ ]:
Bdballondor = read_csv("nominees.csv")

Bdballondor['Total_Points_Per_Year'] = Bdballondor.groupby('Year')['Points'].transform('sum')
# Calculer le pourcentage de points pour chaque joueur par année
Bdballondor['Pourcentage'] = (Bdballondor['Points'] / Bdballondor['Total_Points_Per_Year']) * 100


badyears = [1971,1973,1991,2002,2008,2019,2021,2022,2023]

# Inverser les valeurs entre les colonnes 'Club' et 'Nationality' pour les années spécifiées dans la liste badyears
mask = Bdballondor['Year'].isin(badyears)
Bdballondor.loc[mask, ['Club', 'Nationality']] = Bdballondor.loc[mask, ['Nationality', 'Club']].values

# Nettoyage des irrégularitées dans la nationalité

In [27]:
count1 = Bdballondor['Nationality'].value_counts()

## Notes

En ces années les colonnes club et nationnalitées sont inversées
 - 1971
 - 1973
 - 1991
 - 2002
 - 2008
 - 2019
 - 2021
 - 2022
 - 2023

Corriger  dans les nationalités : Torino

In [20]:
Bdballondor['Nationality'].unique()
bdf = Bdballondor[Bdballondor['Nationality'] == "Torino"]
bdf.head()

,Year,Order,Player,Club,Nationality,Points,Total_Points_Per_Year,Pourcentage
149,1961,23,Denis Law,Scotland,Torino,3.0,289.0,1.038062

In [6]:
dataspecYear = Bdballondor[Bdballondor["Year"] == 2015]
dataspecYear.head()

      Year  Order              Player           Club Nationality  Points
1721  2015      1        Lionel Messi      Barcelona   Argentina   41.33
1722  2015      2   Cristiano Ronaldo    Real Madrid    Portugal   27.76
1723  2015      3              Neymar      Barcelona      Brazil    7.86
1724  2015      4  Robert Lewandowski  Bayern Munich      Poland    4.17
1725  2015      5         Luis Suárez      Barcelona     Uruguay    3.38

### création de la colonne de pourcentage